html,
/* #ffedd8 , #d4a276 */
body {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #fae0e4 0%, #fae0e4 45%, #ff99ac 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pumpkin {
    height: 11em;
    width: 15em;
    background: #ffedd8;
    border: 0.4em solid #d4a276;
    border-radius: 70%/110%;
    position: relative;
    box-shadow: inset 0 0 20px #d4a276, 0 0 30px -4px #e8ac65;
    z-index: 1;
    animation: float 3s infinite;
}

.pumpkin .texture {
    height: 10.8em;
    width: 6.5em;
    position: absolute;
    bottom: -0.4em;
    left: 4em;
    border-radius: 70%/130%;
    border-bottom: 0.5em solid #d4a276;
    border-top: 0.5em solid #d4a276;
}

.pumpkin .texture:after {
content: ' ';
display: block;
height: 10.7em;
width: 12em;
position: absolute;
bottom: -0.4em;
left: -2.5em;
border-radius: 70%/130%;
border-bottom: 0.5em solid #d4a276;
border-top: 0.5em solid #d4a276;
}

.pumpkin .root {
    background: #ddbea9;
    height: 2.8em;
    width: 1.25em;
    position: absolute;
    left: calc(7.5em - 0.625em);
    top: -2.7em;
    transform: rotate(5deg);
    border-radius: 30% 20% 70% 10%;
    z-index: 1;
    box-shadow: inset 0 0 10px #cb997e;
}