body{
    background: #f4acb7;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#container{
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    background: #f4acb7;
}

*:after,
*:before {
    box-sizing: inherit;
}

#spooky{
    margin: 10% auto;
    width: 80%;
    height: 80%;
    animation: floaty 2s infinite;
}

#spooky #body {
    position: relative;
    margin: 50px auto 0;
    width: 180px;
    height: 220px;
    background: #f9f5ec;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px; 
}

#spooky #body:before,
#spooky #body:after {
    content: '';
    position: absolute;
    top: 130px;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #f9f5ec;
    animation: floaty .2s infinite;
}

#spooky #body:before {
    left: -18px;
}

#spooky #body:after {
    right: -18px;
}
#spooky #body #eyes:before,

#spooky #body #eyes:after {
content: ' ';
display: block;
width: 30px;
height: 30px;
background: #73d2de;
border-radius: 50%;
}